<div class="MenuBob autoMargin MainDiv MenuH ClearDiv">

   <div class="FL MenuBord MenuH"></div>

   <div class="FR MenuBord MenuH"></div>

   <div class="MenuSpace1 FR MenuH"></div>

   <div class="FR itemW ">

     <a href="#" class="MainMenuLinks ">

		<img alt="البريد" src="/images/Menu/emailOff.gif" width="52" height="31" class="valignM domroll
/images/Menu/emailOn1.gif" /> البريد (256)</a></div>

		<div class="FR itemW ">

     <a href="#" class="MainMenuLinks ">

		<img alt="المحادثة" src="/images/Menu/ChatOff.gif" width="52" height="31" class="valignM domroll
/images/Menu/ChatOn.gif" /> المحادثة (2)</a></div>

		<div class="FR itemW ">

     <a class="MainMenuLinks " href="/sms">

		<img alt="الرسائل النصية" src="/images/Menu/smsOff.gif" width="52" height="31" class="valignM domroll
/images/Menu/smsOn.gif" /> الرسائل النصية</a></div>

		<div class="FR itemW2">

     <a href="#" class="MainMenuLinks ">

		<img alt="الرسائل الخاصة" src="/images/Menu/PrivatOff.gif" width="52" height="31" class="valignM
domroll /images/Menu/PrivatOn.gif" /> الرسائل الخاصة  (5)</a></div>

		<div class="FR itemW MenLink">

		<img alt="دفتر العناوين" src="/images/Menu/BookOn.gif" width="52" height="31" class="valignM " /> دفتر
العناوين</div>
</div>

<div class="autoMargin space1 ClearDiv"></div>

<div class="autoMargin space1 ClearDiv"></div>
