<div class="GreenBord2 MainDiv autoMargin downBox ClearDiv">
  <div class="FR paddingD"><a href="#" class="GreenMenu">
  هل تواجهك مشاكل في إرسال الرسائل؟</a></div>
</div>
<script type="text/javascript" src="Script/chrisdomroll.js"></script>