<div class="FR SpaceBetBox"></div>
<div class="FR bannerSpace">

  <img alt="" src="/images/Address/Side.gif" width="250" height="284" />
  <div class="autoMargin space1 ClearDiv fontZero"></div>
  <img alt="Banner" src="/images/SMS/Banner.gif" width="250" height="250" />
</div>