<div class="FR mDivH RightBox GreenBord">
  <div class="GreenBG ClearDiv"><div class="ClearDiv titlePadding">الرسائل النصية</div></div>
  <div class="autoMargin ClearDiv scrollBar H6 bordDG">
    <%=active_sidebar_link("أرسل","index")%>
    <%=active_sidebar_link("مرسلة","sent")%>
    <%=active_sidebar_link("المجدولة","scheduled")%>
    <%=active_sidebar_link("تغيير الرقم","change_number")%>
  </div>
</div>