<div class="FR mDivH RightBox GreenBord">
  <div class="GreenBG ClearDiv"><div class="ClearDiv titlePadding">الرسائل النصية</div></div>
  <div class="autoMargin ClearDiv scrollBar H6 bordDG">
    <%=active_sidebar_link(:send,"index")%>
    <%=active_sidebar_link(:sent,"sent")%>
    <%=active_sidebar_link(:scheduled,"scheduled")%>
    <%=active_sidebar_link(:"change number","change_number")%>
  </div>
</div>