<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Address Book</title>
<link rel="stylesheet" type="text/css" href="Style/generalStyle.css" />
<link rel="stylesheet" type="text/css" href="Style/AddressStyle.css" />
</head>

<body>
<div class="MainDiv autoMargin HeaderDiv1 ClearDiv">
  <div class="FR"><a href="http://www.d1g.com/" id="LogoD1G" class="HeaderDiv1"></a></div>
  <div class="FL topPadding"><a href="#" class="MainMenu">خروج</a></div>
  <div class="FL HeaderDiv1 DotLine"></div>
  <div class="FL topPadding"><a href="#" class="MainMenu">التقويم</a></div>
  <div class="FL HeaderDiv1 DotLine"></div>
  <div class="FL topPadding"><a href="#" class="MainMenu">الإعدادات الشخصية</a></div>
</div>
<div class="autoMargin space1 ClearDiv"></div>
<div class="autoMargin space1 ClearDiv"></div>
<div class="MenuBob autoMargin MainDiv MenuH ClearDiv">
   <div class="FL MenuBord MenuH"></div>
   <div class="FR MenuBord MenuH"></div>
   <div class="MenuSpace1 FR MenuH"></div>
   <div class="FR itemW ">
     <a href="#" class="MainMenuLinks ">
		<img alt="البريد" src="/images/Menu/emailOff.gif" width="52" height="31" class="valignM domroll /images/Menu/emailOn1.gif" /> البريد (256)</a></div>
		<div class="FR itemW ">
     <a href="#" class="MainMenuLinks ">
		<img alt="المحادثة" src="/images/Menu/ChatOff.gif" width="52" height="31" class="valignM domroll /images/Menu/ChatOn.gif" /> المحادثة (2)</a></div>
		
		<div class="FR itemW ">
     <a class="MainMenuLinks " href="SMS.html">

		<img alt="الرسائل النصية" src="/images/Menu/smsOff.gif" width="52" height="31" class="valignM domroll /images/Menu/smsOn.gif" /> الرسائل النصية</a></div>
		<div class="FR itemW2">
     <a href="#" class="MainMenuLinks ">
		<img alt="الرسائل الخاصة" src="/images/Menu/PrivatOff.gif" width="52" height="31" class="valignM domroll /images/Menu/PrivatOn.gif" /> الرسائل الخاصة  (5)</a></div>
		<div class="FR itemW MenLink">
		<img alt="دفتر العناوين" src="/images/Menu/BookOn.gif" width="52" height="31" class="valignM " /> دفتر العناوين</div>




</div>
<div class="autoMargin space1 ClearDiv"></div>
<div class="autoMargin space1 ClearDiv"></div>

<div class="autoMargin MainDiv RedMDivH ClearDiv">
   <div class="FR RedMDivH RedRightLBox">
   <div class="RedBG ClearDiv RedBord"><div class="ClearDiv titlePadding">المجموعات</div></div>
    <div class="ClearDiv RedH RedRightLBox RedBord">
    <div class="ClearDiv scrollBar H5 bordDG">
      
      <div class="ClearDiv RedRGroupBox WBGLink">
        
        <div class="FR MenuItemPadding "><a href="#" class="RedMenu">الكل</a></div>
        <div class="FL MenuItemPaddingL BoxMenu4">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
      </div>
      <div class="ClearDiv RedRGroupBox WBGLink">
        <div class="FR MenuItemPadding"><a href="#" class="RedMenu">العائلة</a></div>
        <div class="FL MenuItemPaddingL BoxMenu4">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>

      </div>
      <div class="ClearDiv RedRGroupBox WBGLink">
        <div class="FR MenuItemPadding"><a href="#" class="RedMenu">الأصدقاء</a></div>
        <div class="FL MenuItemPaddingL BoxMenu4">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>

      </div>
      <div class="ClearDiv RedRGroupBox GrayBGLink">
        <div class="FR MenuItemPadding RedM">العمل</div>
        <div class="FL MenuItemPaddingL BoxMenu4">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>

      </div>
      
    </div>
<div class="ClearDiv WBGLink">
        <div class="FR "><a href="#" class="RedMenu"><img alt="" src="/images/Menu/HelpBTN.gif" width="18" height="18" class="HelpBox"/> المساعدة </a></div>
        

      	</div>
    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv RedRightLBox RedBord2 SmallRBH">
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="ClearDiv autoMargin">
       <div class="padding5R FR">
             تحديد: 
              <a class="RedSelect" href="#">الكل</a>
               <span class="RedBar"> | </span> 
             <a class="RedSelect" href="#"> لا شيء  </a>
       </div>
       <div class="padding5L FL Space4">
           
       <img alt="Add" src="/images/Address/Add.gif" width="11" height="11" /><img alt="" src="/images/Address/Space.gif" width="5" height="5" /><a href="#" class="BlackLinkOn">اضافة</a></div>
       <div class="FR padding5R ">
           
       <img alt="Mail" src="/images/Address/Mail1.gif" width="17" height="11" /><img alt="" src="/images/Address/Space.gif" width="5" height="5" /><a href="#" class="GrayLinkOff">إرسال</a></div>
       <div class="FL Space4">
           
       <img alt="Delete" src="/images/Address/Close.gif" width="10" height="10" /><img alt="" src="/images/Address/Space.gif" width="5" height="5" /><a href="#" class="GrayLinkOff">حذف</a></div>

        </div>

     
    </div>
   </div>
   <div class="FR SpaceBetBox"></div>
   
   <div class="FR RedMDivH RedMBox">
   <div class="RedBG ClearDiv RedBord"><div class="ClearDiv titlePadding">المعارف</div></div>
   
    <div class="ClearDiv RedH RedMBox RedBord ">
      
      <div class="ClearDiv autoMargin RedBar padding5R H6">
      <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin ClearDiv AlphaText">
       
            <a href="#" class="AlghaLink"> الكل</a>
             <a href="#" class="AlghaLink"> أ</a> 
            <a href="#" class="AlghaLink">  ب </a>
            <a href="#" class="AlghaLink">   ت </a>
            <a href="#" class="AlghaLink">   ث </a>
            <a href="#" class="AlghaLink">  ج </a> 
             <a href="#" class="AlghaLink">   ح </a>
             <a href="#" class="AlghaLink">    خ </a>
             <a href="#" class="AlghaLink">     د </a>  
             <a href="#" class="AlghaLink">     ذ </a>
             <a href="#" class="AlghaLink">      ر </a>
              <a href="#" class="AlghaLink">     ز </a>
              <a href="#" class="AlghaLink">      س </a>
              <a href="#" class="AlghaLink">      ش  </a> 
              <a href="#" class="AlghaLink">       ص  </a>
              <a href="#" class="AlghaLink">       ض </a>
              <a href="#" class="AlghaLink">       ط </a>
               <a href="#" class="AlghaLink">      ظ  </a> 
               <a href="#" class="AlghaLink">       ع </a>
                 <a href="#" class="AlghaLink">      غ  </a>
                <a href="#" class="AlghaLink">       ف </a>
                 <a href="#" class="AlghaLink">      ق  </a> 
                  <a href="#" class="AlghaLink">      ك  </a>
                  <a href="#" class="AlghaLink">      ل </a>
                  <a href="#" class="AlghaLink">       م  </a>
                  <a href="#" class="AlghaLink">       ن </a>
                  <a href="#" class="AlghaLink">        ه  </a>
                  <a href="#" class="AlghaLink">        و  </a>
                  <a href="#" class="AlghaLink">        ي </a>
              </div>
       <div class="autoMargin space1 ClearDiv fontZero"></div>
         <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="ClearDiv autoMargin">
      
      <div class="FR">بحث عن متصل</div> 
     
     <div class="FR padding5R">            
        <form method="post">
				<input name="SentUser" type="text" class="inputStyle grayBord"/>
			</form></div> 
        <div class="FR"><a href="#" id="magnBTN" title="بحث"></a></div>
     </div>
     </div>
     <div class="scrollBar ContactD ClearDiv bordDG2">
      <div class="ClearDiv RedRGroupMBox GrayBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>
      <div class="ClearDiv RedRGroupMBox WBGLink">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle FR"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="FR"><div class="RedFont">الكل</div>
                        <div class="GrayFont">email:ssssss@xxxxxx.com</div>
                        <div class="GrayFont">tel: 0168472585</div>
        </div>
         <div class="FL SpaceBetBox"></div>
        <div class="FL BoxMenu4 p">
           <div class="FR"><a href="#" id="editBTN" title="اضافة"></a></div>
           <div class="FR"><a href="#" id="emailBTN" title="ارسال"></a></div>
           <div class="FR"> <a href="#" id="deleteBTN" title="حذف"></a></div>
         </div>
         

      </div>

 
      
    </div>
    
    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv RedMBox RedBord2 SmallRBH">
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="ClearDiv autoMargin">
       <div class="padding5R FR">
             تحديد: 
              <a class="RedSelect" href="#">الكل</a>
               <span class="RedBar"> | </span> 
             <a class="RedSelect" href="#"> لا شيء  </a>
       </div>
       
       <div class="padding5L FL Space4">
           
       <img alt="Add" src="/images/Address/Add.gif" width="11" height="11" /><img alt="" src="/images/Address/Space.gif" width="5" height="5" /><a href="#" class="BlackLinkOn">اضافة </a></div>
       <div class="padding5L FL Space4">
           
       <img alt="Delete" src="/images/Address/Close.gif" width="10" height="10" /><img alt="" src="/images/Address/Space.gif" width="5" height="5" /><a href="#" class="GrayLinkOff">حذف</a></div>
       <div class="padding5R FL Space4" style="width: 75px">
           
       <img alt="Mail" src="/images/Address/Mail1.gif" width="17" height="11" /><img alt="" src="/images/Address/Space.gif" width="5" height="5" /><a href="#" class="GrayLinkOff">إرسال</a></div>
        </div>
               

     

    </div>
   </div>
  
   
   <div class="FR SpaceBetBox"></div>
    <div class="FR RedMDivH RedRightLBox">
   <div class="RedBG ClearDiv RedBord"><div class="ClearDiv titlePadding">المعلومات الشخصية</div></div>
    <div class="ClearDiv RedMDivH RedRightLBox RedBord ">
      <div class="ClearDiv RedH2 scrollBar">

      <div class="WBGLink ClearDiv RedLBox">
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="FR SpaceBetBox"></div>
        <div class="avatarStyle2 FR"></div>
        <div class="FR SpaceBetBox"></div>
        
        <div class="FR upPadding1">  
                  
        <form method="post">
				<input name="ContactName" type="text" class="NameInStyle grayBord padding5R RedNameColor paddingTop2" value="محمد فيصل محمود"/>
			</form></div>
      </div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> البريد الإلكتروني: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
				<input name="ContactEmail" type="text" class="NameInStyle2 grayBord padding5R paddingTop2" value="meo@d1g.com"/>
			</form></div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> رقم الهاتف: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
				<input name="ContactNum" type="text" class="NameInStyle2 grayBord padding5R paddingTop2" value="00962770000000"/>
			</form></div>
      </div>
      
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR ">تاريخ الميلاد:</div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
			<select name="Select1" class="padding5R " >
			    <option selected="selected">اليوم</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
				<option>24</option>
				<option>25</option>
				<option>26</option>
				<option>27</option>
				<option>28</option>
				<option>29</option>
				<option>30</option>
				<option>31</option>
			</select>
			<select name="Select1" class="padding5R ">
				<option selected="selected">الشهر</option>
				<option value="1" >  كانون الثاني</option>
        
          <option value="2" >  شباط</option>
        
          <option value="3" >  أذار</option>
        
          <option value="4" >  نيسان</option>
        
          <option value="5" > أيار</option>
        
          <option value="6" > حزيران</option>
        
          <option value="7" >  تموز</option>
        
          <option value="8" >  اب</option>
        
          <option value="9" >  ايلول</option>
        
          <option value="10" >  تشرين اﻷول</option>
        
          <option value="11" >  تشرين الثاني</option>
        
          <option value="12" >  كانون اﻷول</option>
			</select>
			<select name="Select1" class="padding5R W22">
				<option selected="selected">السنة</option>
				<option value="2000" >2000</option>
        
          <option value="1999" >1999</option>
        
          <option value="1998" >1998</option>
        
          <option value="1997" >1997</option>
        
          <option value="1996" >1996</option>
        
          <option value="1995" >1995</option>
        
          <option value="1994" >1994</option>
        
          <option value="1993" >1993</option>
        
          <option value="1992" >1992</option>
        
          <option value="1991" >1991</option>
        
          <option value="1990" >1990</option>
        
          <option value="1989" >1989</option>
        
          <option value="1988" >1988</option>
        
          <option value="1987" >1987</option>
        
          <option value="1986" >1986</option>
        
          <option value="1985" >1985</option>
        
          <option value="1984" >1984</option>
        
          <option value="1983" >1983</option>
        
          <option value="1982" >1982</option>
        
          <option value="1981" >1981</option>
        
          <option value="1980" >1980</option>
        
          <option value="1979" >1979</option>
        
          <option value="1978" >1978</option>
        
          <option value="1977" >1977</option>
        
          <option value="1976" >1976</option>
        
          <option value="1975" >1975</option>
        
          <option value="1974" >1974</option>
        
          <option value="1973" >1973</option>
        
          <option value="1972" >1972</option>
        
          <option value="1971" >1971</option>
        
          <option value="1970" >1970</option>
        
          <option value="1969" >1969</option>
        
          <option value="1968" >1968</option>
        
          <option value="1967" >1967</option>
        
          <option value="1966" >1966</option>
        
          <option value="1965" >1965</option>
        
          <option value="1964" >1964</option>
        
          <option value="1963" >1963</option>
        
          <option value="1962" >1962</option>
        
          <option value="1961" >1961</option>
        
          <option value="1960" >1960</option>
        
          <option value="1959" >1959</option>
        
          <option value="1958" >1958</option>
        
          <option value="1957" >1957</option>
        
          <option value="1956" >1956</option>
        
          <option value="1955" >1955</option>
        
          <option value="1954" >1954</option>
        
          <option value="1953" >1953</option>
        
          <option value="1952" >1952</option>
        
          <option value="1951" >1951</option>
        
          <option value="1950" >1950</option>
        
          <option value="1949" >1949</option>
        
          <option value="1948" >1948</option>
        
          <option value="1947" >1947</option>
        
          <option value="1946" >1946</option>
        
          <option value="1945" >1945</option>
        
          <option value="1944" >1944</option>
        
          <option value="1943" >1943</option>
        
          <option value="1942" >1942</option>
        
          <option value="1941" >1941</option>
        
          <option value="1940" >1940</option>
        
          <option value="1939" >1939</option>
        
          <option value="1938" >1938</option>
        
          <option value="1937" >1937</option>
        
          <option value="1936" >1936</option>
        
          <option value="1935" >1935</option>
        
          <option value="1934" >1934</option>
        
          <option value="1933" >1933</option>
        
          <option value="1932" >1932</option>
        
          <option value="1931" >1931</option>
        
          <option value="1930" >1930</option>
        
          <option value="1929" >1929</option>
        
          <option value="1928" >1928</option>
        
          <option value="1927" >1927</option>
        
          <option value="1926" >1926</option>
        
          <option value="1925" >1925</option>
        
          <option value="1924" >1924</option>
        
          <option value="1923" >1923</option>
        
          <option value="1922" >1922</option>
        
          <option value="1921" >1921</option>
        
          <option value="1920" >1920</option>
			</select>
			</form></div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> المجموعات: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR NameInStyle2 grayBord padding5R paddingTop2"> 
         <div class="FR blackFont">العائلة</div>
         <div class="FL paddingTop2 padding5L"> <a href="#" id="deleteBTN" title="حذف"></a></div>
        </div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
       <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR NameInStyle2 grayBord padding5R paddingTop2"> 
         <div class="FR blackFont">العمل</div>
         <div class="FL paddingTop2 padding5L"> <a href="#" id="deleteBTN" title="حذف"></a></div>
        </div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR paddingTop2"> 
                 
         	<form method="post">
				<select name="Select1" class="blackFont grayBord NameInStyle3">
				<option selected="selected">اختر مجموعة</option>
				</select></form>
    
         
        </div>
      </div>

<div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> البريد الإلكتروني: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
				<input name="ContactEmail" type="text" class="NameInStyle2 grayBord padding5R paddingTop2" value="meo@d1g.com"/>
			</form></div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> رقم الهاتف: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
				<input name="ContactNum" type="text" class="NameInStyle2 grayBord padding5R paddingTop2" value="00962770000000"/>
			</form></div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> المجموعات: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR NameInStyle2 grayBord padding5R paddingTop2"> 
         <div class="FR blackFont">العائلة</div>
         <div class="FL paddingTop2 padding5L"> <a href="#" id="deleteBTN" title="حذف"></a></div>
        </div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
       <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR NameInStyle2 grayBord padding5R paddingTop2"> 
         <div class="FR blackFont">العمل</div>
         <div class="FL paddingTop2 padding5L"> <a href="#" id="deleteBTN" title="حذف"></a></div>
        </div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR paddingTop2"> 
                 
         	<form method="post">
				<select name="Select1" class="blackFont grayBord NameInStyle3">
				<option selected="selected">اختر مجموعة</option>
				</select></form>
    
         
        </div>
      </div>
<div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> البريد الإلكتروني: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
				<input name="ContactEmail" type="text" class="NameInStyle2 grayBord padding5R paddingTop2" value="meo@d1g.com"/>
			</form></div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> رقم الهاتف: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> <form method="post">
				<input name="ContactNum" type="text" class="NameInStyle2 grayBord padding5R paddingTop2" value="00962770000000"/>
			</form></div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>


      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR "> المجموعات: </div>
      </div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR NameInStyle2 grayBord padding5R paddingTop2"> 
         <div class="FR blackFont">العائلة</div>
         <div class="FL paddingTop2 padding5L"> <a href="#" id="deleteBTN" title="حذف"></a></div>
        </div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
       <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR NameInStyle2 grayBord padding5R paddingTop2"> 
         <div class="FR blackFont">العمل</div>
         <div class="FL paddingTop2 padding5L"> <a href="#" id="deleteBTN" title="حذف"></a></div>
        </div>
      </div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="ClearDiv RedLGroupBox">
        <div class="FR SpaceBetBox"></div>
        <div class="FR paddingTop2"> 
                 
         	<form method="post">
				<select name="Select1" class="blackFont grayBord NameInStyle3">
				<option selected="selected">اختر مجموعة</option>
				</select></form>
    
         
        </div>
      </div>

 
    </div>
    
    <div class="autoMargin ClearDiv RedRightLBox SmallRBH">
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class=" ClearDiv autoMargin space1 fontZero"></div>
     <div class="autoMargin space1 ClearDiv fontZero"></div>
     <div class=" ClearDiv autoMargin space1 fontZero"></div>
     <div class=" ClearDiv autoMargin space1 fontZero"></div>
     <div class="FL SpaceBetBox2"></div>
     <div class="FL"><a class="RedLink w1" href="#">إلغاء</a></div>
     <div class="FL SpaceBetBox2"></div>
     <div class="FL"><a class="RedLink w1" href="#">حفظ</a></div>

    </div>

    
    
    
   </div>
   </div>
	</div>
<div class="autoMargin space1 ClearDiv"></div>
<div class="autoMargin space1 ClearDiv"></div>
<script type="text/javascript" src="Script/chrisdomroll.js"></script>
</body>

</html>
