<div class="FR mDivH smsMainBox">
  <div class="GreenBord ClearDiv h33">
    <div class="GreenBG ClearDiv">
      <div class="FR titlePadding">تغير الرقم</div>

    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW">
      <div class="FR smsFontChane">رقم الهاتف المفعل:</div>
      <div class="FL">
        <form method="post">
          <input name="SentUser" type="text" class="inputStyleChange grayBord"/>
        </form>
      </div>


    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>


    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW">
      <div class="FR smsFontChane">رقم الهاتف الجديد:</div>
      <div class="FL">
        <form method="post">
          <input name="SentUser" type="text" class="inputStyleChange grayBord"/>
        </form>
      </div>


    </div>

    <div class="autoMargin space1 ClearDiv fontZero"></div>

    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW">
      <div class="FR smsFontChane">تأكيد رقم الهاتف الجديد:</div>
      <div class="FL">
        <form method="post">
          <input name="SentUser" type="text" class="inputStyleChange grayBord"/>
        </form>
      </div>


    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>

    <div class="autoMargin ClearDiv smsGW H1">

      <div class="FL"><a class="GreenLink w1" href="#">عدّل</a></div>
    </div>


    

  </div>
  <div class="autoMargin space1 ClearDiv fontZero"></div>
  <div class="autoMargin space1 ClearDiv fontZero"></div>


</div>