<div class="FR mDivH smsMainBox">
  <div class="GreenBord ClearDiv smsH">
    <div class="GreenBG ClearDiv">
      <div class="FR titlePadding">الرقم المرسل منة:</div>
      <div class="FR titlePadding NumFormat">00962712345678</div>
    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW">
      <div class="FR smsFont">المرسل اليه:</div>
      <div class="FL">
        <form method="post">
          <input name="SentUser" type="text" class="inputStyle grayBord"/>
        </form>
      </div>


    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>


    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW">
      <form method="post">
      <textarea name="smsMSG" cols="20" rows="2" class="TextAreaStyle grayBord IntW" dir="rtl"></textarea></form>
    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW grayBord H1">
      <div class="autoMargin ClearDiv H2 fontZero"></div>
      <div class="FR padding5R">160/1</div>
      <div class="FL padding5L">بقي لديك 28 رسالة مجانية</div>
    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin ClearDiv smsGW H1">
      <div class="FR ">
        <form method="post">
          <input name="saveSent" type="checkbox" value="L1" />
      حفظ الرسالة في صندوق الرسائل المرسلة.</form></div>
      <div class="FL"><a class="GreenLink w1" href="#">أرسل</a></div>
    </div>




  </div>
  <div class="autoMargin space1 ClearDiv fontZero"></div>
  <div class="autoMargin space1 ClearDiv fontZero"></div>
  <div class="autoMargin GreenBord ClearDiv h3">
    <div class="autoMargin ClearDiv smsGW">
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="FR boxS">
        <div class="autoMargin ClearDiv">ارسال الرسالة لاحقا بتاريخ: </div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>
        <div class="autoMargin space1 ClearDiv fontZero"></div>

        <div class="ClearDiv TimeBox">
          <div class="ClearDiv"> التــاريخ: 10-1-2008</div>
          <div class="ClearDiv">الساعه: 10:05 ص</div>

        </div>
      </div>
      <div class="FR SpaceBetBox1"></div>
      <div class="FR SpaceBetBox1"></div>
      <div class="CalBox FR">
      <img alt="Cal" src="/images/SMS/Cal.gif" width="218" height="163" /></div>
      <div class="FL">
        <div class="ClearDiv h4 w2"></div>
      <a class="GreenLink w2" href="#">ارسال لاحق</a></div>
    </div>


  </div>

</div>
