  <div class="FR mDivH smsMainBox">
    <div class="ClearDiv autoMargin">

      <div class="FR BlackBar">بحث عن رسالة</div>

      <div class="FR padding5R">
        <form method="post">
          <input name="SentUser" type="text" class="inputSearch grayBord"/>
      </form></div>
      <div class="FR"><a href="#" id="magnBTN" title="بحث"></a></div>
    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>

    <div class="GreenBord ClearDiv hSent">
      <div class="GreenBG ClearDiv">
        <div class="FR titlePadding NumberW">المرسلة</div>
        <div class="FR DateW paddingT"><div class="FR">التاريخ </div></div>
        <div class="FR MSGW2 paddingT "><div class="FR">الرسالة</div><div class="FR ArrowAscending"></div></div>


      </div>

      <div class="autoMargin space1 ClearDiv fontZero"></div>
      <div class="autoMargin ClearDiv hSent2 scrollBar bordDG ">
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>


        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG GrayBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox bordDG WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>
        <div class="autoMargin ClearDiv MSGBox WBGLink">
          <div class="FR msgPaddingUp msgPaddingR NumberW">009627966778899</div>
          <div class="FR DateW msgPaddingUp ">29-10-2008</div>
          <div class="FR MSGW2 msgPaddingUp msgPaddingL"><a href="#" class="MSGLink">كل عاام وإنت حياتي يا حياتي أبحتفل
              بميلادك حتى لو طالت بيننا المسافاتي أنا من لي غيرك يستاهل كل
          تضحياتي...</a></div>

        </div>



      </div>

      <div class="autoMargin space1 ClearDiv fontZero"></div>

      <div class="autoMargin ClearDiv smsGW H1">
        <div class="FL"><a class="GreenLink w1" href="#">حذف</a></div>
        <div class="FL SpaceBetBox2"></div>

        <div class="FL"><a class="GreenLink w1" href="#">تعديل</a></div>

      </div>




    </div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>
    <div class="autoMargin space1 ClearDiv fontZero"></div>


  </div>